body{
    margin: 0;
}

form input{
    width: 50%;
    padding: 0.5rem;
}

div.check{
    padding-left: 1rem;
}

div.book-container{
    padding: 1rem;
}

.contain{
    text-align: center;
    padding: 2rem;
    background-color: rgb(187, 181, 181);
}
.book-list{
    display: flex;
    align-items: center;
}

.book-list p{
    display: inline;
    border-left: 3px solid rgb(174, 167, 167);
    padding-left: 0.5rem;

}

button{
    display: inline-block;
    margin-left: auto;
    color: white;
    background-color: rgb(51, 51, 105);
    padding: 0.5rem;
    border-radius: 8px;
}

.submit-container button{
    margin-left: -2.6rem;
    height: 100%;
    border-radius: 5px;
}

.submit-container{
    text-align: center;
    margin-right: 0;
    padding: 3rem;
}
